<h1>Welcome to Black Jack</h1>

<p>Welcome <%= session[:player_name] %>. </br> Are you ready to become poor?</p>

<div class="container-fluid">
  <div class="span4">...</div>
  <div class="span4 offset2">...</div>
</div>



<H3> Place your bet for this round</H3>
<form action="/new_player" method="post">
  <input type="text" name="player_name"/>
  <br/>
  <input type="submit" class="btn"/>
</form>


Dealer's Cards:
<ul>
  <% session[:dealer_cards].each do |card| %>
    <li><%= card.to_s %> </li>
  <% end %>
</ul>
<br>

<%= session[:player_name] %>'s Cards:
<ul>
  <% session[:player_cards].each do |card| %>
      <li><%= card.to_s %> </li>
  <% end %>
</ul>


<p>
  What would you like to do?
  <%= session[:player_name] %> has <%= calculate_total(session[:player_cards]) %>

  <form action ="/game/player/hit" method = "post">
    <input type="submit" class="btn" value="Hit"/>
  </form>
<form action ="/game/player/stay" method = "post">
  <input type="submit" class="btn" value="Stay"/>
</form>
</p>